{% import "macros.html" as macros %}

{% extends "macros.html" %}
{% macro social_links(social_config) %}
<p>
{% if social_config.telegram %}
  <a href="https://t.me/{{ social_config.telegram }}" target="_blank">
    <p> Telegram </P>
  </a>
{% endif %}

</p>
{% endmacros %}
